{% extends "base.html" %}

{% block title %}Profil{% endblock %}

{% block content %}
<div class="container">
    <h1 class="nom_user">Profil de {{ user.username }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" name="username" value="{{ user_form.username.value }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Adresse Email</label>
            <input type="email" id="email" name="email" value="{{ user_form.email.value }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="phone_number">Numéro de téléphone</label>
            <input type="text" id="phone_number" name="phone_number" value="{{ profile_form.phone_number.value }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="city">Ville</label>
            <input type="text" id="city" name="city" value="{{ profile_form.city.value }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="photo">Photo de Profil</label>
            <input type="file" id="photo" name="photo" class="form-control-file">
        </div>
        <div class="form-group buttons">
            <button type="submit" class="btn btn-primary">Mettre à jour le profil</button>
            <a href="{% url 'deconnexion' %}" class="btn btn-danger">Déconnexion</a>
        </div>
    </form>
    <div class="articles-container">
        {% for article in articles %}
        <div class="article-card">
            <img src="{{ article.photo1.url }}" alt="{{ article.name }}" class="article-photo">
            <div class="article-info">
                <h2>{{ article.name }}</h2>
                <p>{{ article.description }}</p>
                <p><strong>Prix :</strong> {{ article.price }} DH</p>
                <p><strong>Téléphone :</strong> {{ article.phone_number }}</p>
                <p><strong>Ville :</strong> {{ article.ville }}</p>
                <p><strong>Posté il y a :</strong> {{ article.created|timesince }}</p>
            </div>
        </div>
        {% empty %}
            <p>Aucun article publié.</p>
        {% endfor %}
    </div>
</div>

<style>

    .articles-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -10px; /* Ajuste l'espacement négatif pour compenser la marge des cartes */
    }
    
    .article-card {
        flex: 1 1 30%; /* Chaque carte prendra environ un tiers de l'espace disponible */
        margin: 10px; /* Espacement autour de chaque carte */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce pour la définition */
        background: #ffffff; /* Arrière-plan blanc pour les cartes */
        border-radius: 8px; /* Coins arrondis */
        overflow: hidden; /* Garde tout contenu interne à l'intérieur des coins arrondis */
        display: flex;
        flex-direction: column;
    }
    
    .article-photo {
        width: 70%; /* S'assure que la photo couvre toute la largeur de la carte */
        height: auto;
        aspect-ratio: 8 / 10.5; /* Ratio fixe pour les images */
    }
    
    .article-info {
        padding: 15px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1; /* Permet aux informations de remplir l'espace restant dans la carte */
    }
    
    .article-info h2, .article-info p {
        margin: 5px 0;
    }
    
    .article-info p {
        font-size: 0.9em; /* Taille de police légèrement plus petite pour les détails */
        color: #666; /* Couleur de texte plus douce pour améliorer la lisibilité */
    }

    .nom_user{
        font-size:24px;
        margin-left : 375px;
    }
    .container {
        width: 60%;
        margin: 0 auto;
        padding: 30px;
        background: #fff;
        border-radius: 7px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
        margin-top: 50px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold; /* Makes labels bold */
        color: #333;
    }
    .form-control, .form-control-file {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .form-control-file {
        padding: 5px;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
    }
    .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }
    .btn-primary {
        background-color: #007bff;
        color: white;
    }
    .btn-danger {
        background-color: #dc3545;
        color: white;
    }
</style>
{% endblock %}
