{% extends "base.html" %}

{% block title %}Profil{% endblock %}

{% block content %}
<div class="container mx-auto px-4">
    <div class="mt-4 flex justify-center">
        {% if user.userprofile.photo %}
        <img src="{{ user.userprofile.photo.url }}" alt="Photo de profil de {{ user.username }}" class="rounded-full h-32 w-32">
        {% endif %}
    </div>
    <h1 class="text-3xl text-center font-bold my-4">{{ user.username }}</h1>
    <form method="post" enctype="multipart/form-data" class="space-y-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="username" class="block font-semibold">Nom d'utilisateur</label>
            {{ user_form.username }}
        </div>
        <div class="form-group">
            <label for="email" class="block font-semibold">Adresse Email</label>
            {{ user_form.email }}
        </div>
        <div class="form-group">
            <label for="phone_number" class="block font-semibold">Numéro de téléphone</label>
            {{ profile_form.phone_number }}
        </div>
        <div class="form-group">
            <label for="city" class="block font-semibold">Ville</label>
            {{ profile_form.city }}
        </div>
        <div class="form-group">
            <label for="photo" class="block font-semibold">Changer la Photo de Profil</label>
            {{ profile_form.photo }}
        </div>
        
        <div class="form-group flex justify-between">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Mettre à jour le profil</button>
            <a href="{% url 'deconnexion' %}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Déconnexion</a>
        </div>
    </form>
   
    <!-- Ajout de l'espace -->
    <div class="my-8"></div>
   
    <div class="articles-container">
        {% for article in articles %}
        <div class="article-card">
            <img src="{{ article.photo1.url }}" alt="{{ article.name }}" class="article-photo">
            <div class="article-info">
                <h2>{{ article.name }}</h2>
                
                <a href="{% url 'article_detail' article.pk %}" class="text-blue-500 inline-flex items-center md:mb-2 lg:mb-0">Savoir plus</a>
            </div>
        </div>
        {% empty %}
            <p>Aucun article publié.</p>
        {% endfor %}
    </div>
</div>


<style>
    .articles-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -10px;
    }
    .article-card {
        flex: 1 1 30%;
        margin: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background: #ffffff;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .article-photo {
        width: 70%;
        height: auto;
        aspect-ratio: 8 / 10.5;
    }
    .article-info {
        padding: 15px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }
    .article-info h2, .article-info p {
        margin: 5px 0;
    }
    .article-info p {
        font-size: 0.9em;
        color: #666;
    }
    .nom_user {
        font-size: 24px;
        margin: 20px 0 0 0; /* Adjust as needed for spacing */
    }
    .container {
        width: 60%;
        margin: 0 auto;
        padding: 30px;
        background: #fff;
        border-radius: 7px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
        margin-top: 50px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
    }
    .form-control, .form-control-file {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .form-control-file {
        padding: 5px;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
    }
    .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }
    .btn-primary {
        background-color: #007bff;
        color: white;
    }
    .btn-danger {
        background-color: #dc3545;
        color: white;
    }
</style>
{% endblock %}
