{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <style>
        .flex-row {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <div class="flex justify-center mb-8">
        <a href="{% url 'article_create' %}" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">Ajouter un article</a>
    </div>
    <div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
        <h1 class="text-3xl font-bold mb-8 text-center">Articles</h1>
        
        <form action="" method="GET" class="mb-4 flex justify-center">
            <input type="text" name="search" placeholder="Rechercher par nom" class="border border-gray-300 p-2 rounded-md mr-2">
            <select name="category" class="border border-gray-300 p-2 rounded-md">
                <option value="" selected disabled>Filtrer par catégorie</option>
                <option value="phone">Phone</option>
                <option value="voiture">Voiture</option>
                <option value="accessoires">Accessoires</option>
            </select>
            <select name="ville" class="border border-gray-300 p-2 rounded-md">
                <option value="" selected disabled>Filtrer par ville</option>
                <option value="Casablanca">Casablanca</option>
                <option value="Rabat">Rabat</option>
                <option value="Marakech">Marakech</option>
            </select>
            <button type="submit" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">Rechercher</button>
        </form>
        
        {% if articles %}
        <div class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-10 mt-8">
            {% for article in articles %}
                <div class="p-4 max-w-md">
                    <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden bg-white">
                        {% if article.photo1 %}
                            <img class="h-48 w-full object-cover object-center" src="{{ article.photo1.url }}" alt="Article Photo">
                        {% endif %}
                        <div class="p-6">
                            <div class="flex-row">
                                <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{ article.category }}</h2>
                                <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{ article.ville }}</h2>
                            </div>
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{ article.name }}</h1>
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{ article.price }} DH</h2>
                            <div class="flex items-center flex-wrap">
                                <a href="{% url 'article_detail' article.pk %}" class="text-blue-500 inline-flex items-center md:mb-2 lg:mb-0">Savoir plus</a>

                                <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                        <circle cx="12" cy="12" r="3"></circle>
                                    </svg>
                                    1.2K
                                </span>
                                <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="text-center">Aucun article trouvé.</p>
        {% endif %}
    </div>
</body>
</html>
{% endblock content %}
